@font-face {
    font-family: pageFont;
    src: url('./fonts/SmoochSans-VariableFont_wght.ttf');
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: pageFont;
}

header {
    background-color: #1c1917;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.show-sidebar {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 3rem;
    cursor: pointer;
}

#content {
    background-color: #e7e5e4;
    display: grid;
    grid-template-columns: 300px 1fr;
}

#content .sidebar {
    background-color: #292524;
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#content .sidebar-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid white;
}

.add-project-btn {
    font-family: pageFont;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #808080;
    cursor: pointer;
    padding: 0; 
}

.add-project-btn:hover {
    color: #ffffff;
}

.sidebar-heading {
    display: flex;
    gap: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.project {
    padding-left: 5px;
    color: #808080;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.project:hover {
    color: #ffffff;
}

.project-title {
    font-size: 1.5rem;
}

.delete-project-btn {
    color: #808080;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
}

.project-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#p-title {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3rem;
    padding: 10px 15px;
    font-family: pageFont;
}

.project-form-btns {
    display: flex;
    gap: 10px;
}

.project-form-btns button {
    background-color: #808080;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: pageFont;
    cursor: pointer;
}

.project-form-btns button:hover {
    background-color: #ffffff;
}

#content .current-project {
    background-color: #e7e5e4;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;   
}

.current-project-title {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.task {
    padding-left: 5px;
    color: #808080;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.task:hover {
    color: #000000;   
}

.task-title {
    font-size: 1.5rem;
}

.delete-task-btn {
    border: none;
    background: none;
    font-weight: bold;
    color: #808080;
    cursor: pointer;
}

.add-task-btn {
    font-family: pageFont;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #808080;
    cursor: pointer;
    padding: 0;
}

.add-task-btn:hover {
    color: #000000;
}

.task-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#t-title {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3rem;
    padding: 10px 15px;
    font-family: pageFont;
}

.task-form-btns {
    display: flex;
    gap: 10px;
}

.task-form-btns button {
    background-color: #808080;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: pageFont;
    cursor: pointer;
}

.task-form-btns button:hover {
    background-color: #ffffff;
}

footer {
    background-color: #1c1917;
    padding: 10px 20px 10px 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

